.hooks-main > svg {
  display: none;
}

.hooks-main > div {
  position: absolute;
  z-index: 100;
  will-change: transform;
  border-radius: 50%;
  background: radial-gradient(
    circle at center,
    rgba(170, 250, 59, 1) 20%,
    rgba(241, 250, 59, 1) 40%
  );
  /* background: radial-gradient(
    circle at center,
    rgb(69, 83, 209) 20%,
    rgb(176, 250, 255) 40%
  ); */
  background: radial-gradient(
    circle at center,
    rgb(28, 16, 133) 20%,
    rgb(231, 171, 255) 40%
  );
  background: radial-gradient(
    circle at center,
    rgb(253, 242, 238) 20%,
    rgb(255, 242, 130) 40%
  );
  background: radial-gradient(
    circle at center,
    rgb(253, 242, 238) 20%,
    rgb(45, 63, 226) 40%
  );
  filter: blur(40px);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  opacity: 0.5;
}

.hooks-main > div:nth-child(1) {
  width: 150px;
  height: 150px;
}

.hooks-main > div:nth-child(2) {
  width: 200px;
  height: 200px;
}

.hooks-main > div:nth-child(3) {
  width: 120px;
  height: 120px;
}

.hooks-main > div::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
}

.hooks-main > div:nth-child(2)::after {
  top: 70px;
  left: 70px;
  width: 70px;
  height: 70px;
}

.hooks-main > div:nth-child(3)::after {
  top: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
}

.hooks-main {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: url("#goo");
  overflow: hidden;
}
