/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;

  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  --color-primary: rgba(255, 115, 33, 1);
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

@font-face {
  font-family: "Pilowlava";
  src: local("Pilowlava"),
    url(../../../static/fonts/Pilowlava/Pilowlava.woff2) format("woff2");
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

@font-face {
  font-family: "GT-Alpina-Extended-Regular";
  src: local("GT-Alpina-Extended-Regular"),
    url(../../../static/fonts/GT-Alpina/GT-Alpina-Extended-Regular.woff2)
      format("woff2");
}

@font-face {
  font-family: "GT-Alpina-Extended-Bold";
  src: local("GT-Alpina-Extended-Bold"),
    url(../../../static/fonts/GT-Alpina/GT-Alpina-Extended-Bold.woff2)
      format("woff2");
}

body {
  font-family: "GT-Alpina-Extended-Regular";
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: black;
  background-color: black;
  /* background-image: url(../../../public/images/BackgroundTexture.png); */
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
}

/* ol,
ul {
  list-style: none;
} */

li {
  margin-bottom: 16px;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  /* color: black; */
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: none;
}

a:hover {
  cursor: pointer;
}

h1 {
  font-family: "GT-Alpina-Extended-Regular";
  font-weight: 50;
  color: rgba(255, 255, 255);
  font-size: 7vw;
  text-transform: uppercase;
  margin: 0;
  line-height: 1em;
}

h2 {
  font-size: 2.8em;
  line-height: 1.25em;
  color: white;
}

h3 {
  font-family: "GT-Alpina-Extended-Regular";
  font-weight: 50;
  font-size: 1.3em;
}

h4 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1em;
}

h5 {
  font-size: 0.85em;
  line-height: 1.35em;
  opacity: 0.5;
}

p {
  line-height: 1.45em;
}

@media (max-width: 950px) {
  h1 {
    font-size: 11vw;
  }
}

@media (max-width: 768px) {
  body {
    /* font-size: 17px; */
  }
}

@media (max-width: 700px) {
  h4 {
    font-size: 0.9em;
    /* line-height: 1em; */
  }
  h3 {
    font-size: 1em;
    line-height: 1em;
  }
  h2 {
    font-size: 2.6em;
    line-height: 1.25em;
  }
  h1 {
    font-size: 12.5vw;
  }
}

button {
  background: white;
  border: 2px solid black;
  color: black;
  padding: 15px 32px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 8px;

  letter-spacing: 0.06em;
  font-family: "Inter", sans-serif;
  font-weight: 700;

  transition: 0.6s cubic-bezier(0.2, 0.8, 0.2, 1);
}

button:hover {
  transform: scale(1.02);
  cursor: pointer;
}
/*FORMULAR*/
label {
  color: white;
  display: inline-block;
  margin-top: 20px;
}

input {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px black inset;
  -webkit-box-shadow: 0 0 0 30px black inset;
  -webkit-text-fill-color: white;
}

input {
  padding: 12px;
  margin: 15px 0;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: black;
  color: white;
  border-radius: 4px;
}

.checkboxText {
  color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.b-contain *,
.b-contain *::before,
.b-contain *::after {
  box-sizing: content-box !important;
}

.b-contain input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.b-contain {
  margin-top: 0;
}

.b-contain span {
  line-height: 1.54;
  font-size: 1rem;
  font-family: inherit;
}

.b-contain {
  display: table;
  position: relative;
  padding-left: 0.9rem;
  cursor: pointer;
  margin-bottom: 40px;
}

.b-contain input[type="checkbox"] ~ .b-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0);
  transition: background 250ms;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}

.b-contain input[type="checkbox"] ~ .b-input::after {
  content: "";
  position: absolute;
  display: none;
  left: 14px;
  top: 8px;
  width: 8px;
  height: 18px;
  border: solid rgba(0, 0, 0, 1);
  border-width: 0 4px 4px 0;
  transition: background 250ms;
  transform: rotate(45deg);
}

.b-contain input:checked ~ .b-input::after {
  display: block;
}

.b-contain input:checked ~ .b-input {
  background: white;
}
