label {
    display: inline-block;
    margin-top: 20px;
}

input {
    padding: 12px;
    margin: 8px 0;
    width: 100%;
    border: 1px solid black;
}

.checkBox {
    width: auto;
}

.checkBox:hover {
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

button {
    background: linear-gradient(90deg, rgba(255, 115, 33, 1) 0%, rgba(255, 33, 33, 1) 100%);
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.13em;
    font-family: GT-Walsheim-Pro-Black;
    box-shadow: 0 10px 20px rgba(255, 115, 33, .3);
    transition: 0.6s cubic-bezier(0.2, 0.8, 0.2, 1);
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.thankYouMessage {
    width: 50%;
}