.HeaderContainer{
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 100;
}

.HeaderScrolled {
    background: rgba(0,0,0,.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.HeaderLink{
    color: black;
}

.HeaderScrolledFont {
    color: white;
}

.HeaderGroup{
    margin: 0 80px;
    display: grid;
    grid-template-columns: repeat(3, auto) 5fr;
    grid-gap: 80px;
    align-items: center;
    justify-items: start;
}

.Ticket{
    justify-self: end;
}